<nz-table #nzTable [nzData]="rows" nzSize="middle" [nzShowPagination]="false" [nzLoading]="_loading" [nzTotal]="total"
  [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="_load()" [(nzPageSize)]="pageSize" (nzPageSizeChange)="_load()">
  <thead nz-thead>
    <tr>
      <th *ngIf="multiSelect" nzShowCheckbox [(nzChecked)]="_allSelected" [nzIndeterminate]="_indeterminate" (nzCheckedChange)="_tiggerRowSelAll()"></th>
      <th *ngFor="let column of columnQueryList" [nzWidth]="column.width" [nzShowSort]="column.sortable" [(nzSort)]="column._sortOrder"
        (nzSortChange)="_sortIn()">
        <span *ngIf="!column._titleRef">
          {{column.title || column.name}}
        </span>
        <ng-container *ngIf="column._titleRef" [ngTemplateOutlet]="column._titleRef" [ngTemplateOutletContext]="{column:column}"></ng-container>
        <nz-dropdown [nzTrigger]="'click'" *ngIf="column.filterItems">
          <i class="anticon anticon-filter" nz-dropdown></i>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let filter of column.filterItems" [class.ant-dropdown-menu-item-selected]="filter._filtersel">
              <span *ngIf="filterSingle" (click)="_filterSingleChange(column, filter)">{{filter[column.filterTextName]}}</span>
              <label *ngIf="!filterSingle" nz-checkbox [(ngModel)]="filter._filtersel">
                <span>{{filter[column.filterTextName]}}</span>
              </label>
            </li>
          </ul>
          <div nz-table-filter class="text-center" *ngIf="!filterSingle">
            <span nz-table-filter-confirm (click)="_filter(column)">确定</span>
            <span nz-table-filter-clear>取消</span>
          </div>
        </nz-dropdown>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <ng-template #rowtmpl let-rowList="rowList" let-level="level">
      <ng-template ngFor let-row [ngForOf]="rowList">
        <tr nz-tbody-tr>
          <td *ngIf="multiSelect" nzShowCheckbox [(nzChecked)]="row.selected" (nzCheckedChange)="_refChecked()" (mousedown)="_tiggerRowSelBySel(row, $event)"></td>
          <ng-template #tdcontent let-column="column">
            <ng-template [ngIf]="_isEditCell(row, column.index)">
              <input nz-input *ngIf="!column.editor" [(ngModel)]="row.data[column.name]">
              <ng-template *ngIf="column.editor" [ngTemplateOutlet]="column.editor" [ngTemplateOutletContext]="{row:row, column:column, data:row.data}"></ng-template>
            </ng-template>
            <ng-template [ngIf]="!_isEditCell(row, column.index)">
              <span *ngIf="!column.formatter">{{row.data[column.name]}}</span>
              <ng-template *ngIf="column.formatter" [ngTemplateOutlet]="column.formatter" [ngTemplateOutletContext]="{row:row, column:column, data:row.data}"></ng-template>
            </ng-template>
          </ng-template>
          <ng-template ngFor let-column [ngForOf]="columnQueryList">
            <td nz-td *ngIf="!column.tree" (mousedown)="_tiggerRowSel(row, $event)">
              <ng-template [ngTemplateOutlet]="tdcontent" [ngTemplateOutletContext]="{column:column}"></ng-template>
            </td>
            <td nz-td *ngIf="column.tree" (mousedown)="_tiggerRowSel(row, $event)" [nzIndentSize]="level*20" [nzShowExpand]="row.tree.isShow()"
              [(nzExpand)]="row.tree.expand" (nzExpandChange)="row.tree.collapse($event)">
              <ng-template [ngTemplateOutlet]="tdcontent" [ngTemplateOutletContext]="{column:column}"></ng-template>
            </td>
          </ng-template>
        </tr>
        <ng-template *ngIf="row.children" [ngTemplateOutlet]="rowtmpl" [ngTemplateOutletContext]="{rowList:row.children, level:level+1}"></ng-template>
      </ng-template>
    </ng-template>
    <ng-template [ngTemplateOutlet]="rowtmpl" [ngTemplateOutletContext]="{rowList:nzTable.data, level:0}"></ng-template>
  </tbody>
  <sip-contextmenu *ngIf="_hasContextmenu" (onShow)="_showContextmenu($event)"></sip-contextmenu>
</nz-table>
<div class="mt-lg">
  <nz-pagination [(nzPageIndex)]="pageIndex" [(nzTotal)]="total" [(nzPageSize)]="pageSize" (nzPageIndexChange)="_changePageIndex()"
    (nzPageSizeChange)="_load()" [nzShowSizeChanger]="true">
  </nz-pagination>
</div>
