<span *ngIf="!table.settings.rowActionTemplate && !table.settings.selectionMultiple
     && table.settings.rowNumber && table.dimensions.actionColumnWidth">
    {{row.$$index + 1}}
</span>
<span *ngIf="table.settings.selectionMultiple && table.dimensions.actionColumnWidth"
      class="datatable-checkbox">
      <input type="checkbox"
             [checked]="checked"
             (click)="onCheckboxClick($event)"/>
</span>
<ng-template #rowActionTemplate
             *ngIf="table.settings.rowActionTemplate && table.dimensions.actionColumnWidth"
             [ngTemplateOutlet]="table.settings.rowActionTemplate"
             [ngTemplateOutletContext]="cellContext">
</ng-template>
