<sip-page>

  <sip-page-header navigator="申请Spark服务">
    <ng-template #title>申请Spark服务1</ng-template>
    <ng-template #desc>
      Spark是一个高效通用的分布式计算框架、也是统一的数据处理架构。其优秀的DAG执行引擎支持循环数据流的高效重用及内存计算。 官网：
      <a href="http://spark.apache.org/" target="_blank">http://spark.apache.org/</a>
    </ng-template>
  </sip-page-header>

  <sip-page-body>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzXl]="18" [nzMd]="16">
        <nz-card [nzBordered]="false">
          <sip-form #form1></sip-form>
        </nz-card>
      </div>


      <div nz-col [nzXl]="6" [nzMd]="8">
        <nz-card nzTitle="当前配置">
          <sip-contextmenu>
            <ul nz-menu [nzMode]="'vertical'" [nzTheme]="'light'">
              <li nz-menu-item>sdfsdfsdf</li>
              <li nz-menu-item>sdfsdfsdf</li>
              <li nz-menu-item>sdfsdfsdf</li>
              <li nz-menu-item>sdfsdfsdf</li>
              <li nz-menu-item>sdfsdfsdf</li>
            </ul>
          </sip-contextmenu>
          <desc-list col="1" size="large" class="mb-md">
            <desc-list-item term="版本">2.0.0</desc-list-item>
            <desc-list-item term="用户">Hadoop</desc-list-item>
            <desc-list-item term="密码">hadooppass</desc-list-item>
            <desc-list-item term="规格">小</desc-list-item>
          </desc-list>
          <nz-divider nzTitle="" nzDashed></nz-divider>
          <desc-list col="1" size="large" class="mb-md">
            <desc-list-item term="名称">Spark</desc-list-item>
            <desc-list-item term="项目">wotest003</desc-list-item>
            <desc-list-item term="区域">上海</desc-list-item>
            <desc-list-item term="网络">无</desc-list-item>
          </desc-list>
        </nz-card>
      </div>
    </div>
  </sip-page-body>
</sip-page>