/* 详情
============================================================*/

@lg:16px;
.page-detail{
	.ant-tabs{
		margin-top: -25px;
		margin-left: -@lg;
		margin-right: -@lg;

		.ant-tabs-bar{
			background-color: #fff;

			.ant-tabs-nav-wrap{
				margin: 0 @lg;
			}
		}

        .ant-tabs-tabpane{
            padding-left: 16px;
            padding-right: 16px;
        }
		
	}
}