<span *ngIf="isCheckboxable && table.settings.selectionMultiple"
      class="datatable-checkbox">
      <input type="checkbox"
             [checked]="allRowsSelected"
             (click)="onHeaderCheckboxClick()"/>
</span>
<button class="filter-action"
        *ngIf="filterActionEnabled()"
        [style.visibility]="(!table.dataFilter.hasFilter()) ? 'hidden' : 'visible' "
        (click)="clearAllFilters()"
        [title]="table.messages.clearFilters">
  <i class="icon-filter"></i>
</button>
