<div class="logo">
    <a [routerLink]="['/']">
        <img class="expanded" src="./assets/logo-full.svg" alt="{{settings.app.name}}" style="max-height:40px;" />
        <img class="collapsed" src="./assets/logo.svg" alt="{{settings.app.name}}" style="max-height:30px;" />
    </a>
</div>
<div class="top-nav-wrap">
    <ul class="top-nav">
        <!-- 折叠主菜单 -->
        <li>
            <div class="item" (click)="toggleCollapsedSidebar()">
                <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
            </div>
        </li>

        <!-- 服务 -->
        <li class="hidden-xs">
            <header-server></header-server>
        </li>
        <!-- 锁屏 -->
        <li class="hidden-xs" style="display: none;">
            <div class="item" [routerLink]="['/lock']">
                <i class="anticon anticon-lock"></i>
            </div>
        </li>

        <!-- 搜索 -->
        <li class="header-search__btn" style="display: none;" (click)="searchToggleChange()">
            <div class="item">
                <i class="anticon anticon-search"></i>
            </div>
        </li>
    </ul>
    <header-search class="header-search" style="display: none;" [toggleChange]="searchToggleStatus"></header-search>
    <ul class="top-nav">
        <!-- 主页 -->
        <li class="hidden-xs" >
            <div class="item" [routerLink]="" nzTitle="主页" nzPlacement="bottom" nz-tooltip>
                <i class="anticon anticon-home"></i>
            </div>
        </li>
        <!-- 购物车 -->
        <li class="hidden-xs">
            <div class="item" [routerLink]="" nzTitle="购物车" nzPlacement="bottom" nz-tooltip>
                <nz-badge [nzCount]="5">
                    <i class="anticon anticon-shopping-cart"></i>
                </nz-badge>
            </div>
        </li>

        <!-- 订单 -->
        <li class="hidden-xs">
            <div class="item" [routerLink]="" nzTitle="订单" nzPlacement="bottom" nz-tooltip>
                <i class="anticon anticon-calculator"></i>
            </div>
        </li>


        <!-- 通知 -->
        <li style="display:none">
            <header-notify></header-notify>
        </li>
        <!-- 任务 -->
        <li style="display:none" class="hidden-xs">
            <header-task></header-task>
        </li>
        
        
        <!-- 多语言 -->
        <li class="hidden-xs" style="display:none;">
            <nz-dropdown nzTrigger="click" nzPlacement="bottomRight">
                <div class="item" nz-dropdown>
                    <i class="anticon anticon-setting"></i>
                </div>
                <div nz-menu style="width:200px;">
                    <div nz-menu-item>
                        <header-i18n></header-i18n>
                    </div>
                </div>
            </nz-dropdown>
        </li>
        <li class="hidden-xs">
            <header-user></header-user>
        </li>
    </ul>
</div>
